{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Propiedad</title>
</head>
<body>
   
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2> {{propiedad.tipo}} </h2>
        </div>
        <h5>Ubicacion : {{propiedad.ubicacion}} </h5>
        <h5>Precio : {{propiedad.precio}} </h5>
        <h5>Descripcion: {{propiedad.descripcion}} </h5>
    </div>
</div>

    
    
</body>
</html>

{% endblock %}